@font-face{
    font-family: jetbrainsMono;
    src: url(JetBrainsMono.ttf);
}
body{
    font-family: jetbrainsMono;
    margin: 0;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin-right: 40px;
    margin-left: 40px;
}
.topbar{
    background-color: #0f0f0f;
    height: 70px;
    
}

.logo img{
    float: left;
    width: 50px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 0px;
    margin-left: 100px;
}
.header{
    color: #000;
    font-size: 30px;
    text-align: center;
}
.text{
    color: #000;
    font-size: 24px;
    margin-left: 40px;
    margin-right: 70px;
}
